*{
    padding: 0;
    margin: 0;
}
html,body{
    height: 100%;
    width: 100%;
    position: relative;
}
a{
    text-decoration: none;
    color: white;
}
.clearFloat:after{
    content: "";
    height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
.clearFloat{
    zoom: 1;
}

.two{
    width: 100%;
    height: 100%;
    position: absolute;
    background: -webkit-radial-gradient(#313131,#232322,#020202) ;
    padding-top: 20%;
    color: white;
    z-index: 10;
}
.two div{
    float: left;
    width: 43%;
    height: 40%;
    margin-left: 5%;
    margin-bottom: 5%;

}
.two h1,p{
    text-align: center;
}
.two .two_2 img{
    margin-top: 1%;
    height: 129px;
    width: 160px;
}
.two .two_4 img{
    margin-left: 19%;
}

